.uno{
	 background-color: yellow;
}

.dos{ 
	background-color: red;
}

div{
	height: 30%;
    width: 40%;
    font-size: 140%;
    margin-top: 30%;
    display: inline;
    margin-left: 3%;
    padding-top: 25%;
    margin-bottom: 2%;
  
 }
 p{
 	display: inline;
 }


 .pd15{ 
 	padding-top: 5%;
 	

 }
 .pdt15{ 
 	padding-left: 5%;
 }
 .may{
 	text-transform: uppercase;
 }

